/* Estilo general */
html {
    min-height: 100%;
    position: relative;
  }

body {
    font-family: Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    overflow-x: hidden;
}

header {
    font-size: 24px;
    background-color: #405de6;
    color: white;
    padding: 10px;
    position: relative;
}

/* Fuente para la Marca MyInstagram -- https://fonts.google.com/specimen/Satisfy?preview.text=MyInstagram&preview.text_type=custom */
.brand {
    font-family: 'Satisfy', cursive;
    font-size: 1.2em;
    display: inline;
}

main {
    padding: 10px;
}

section#posts {
    padding-bottom: 40px;
}

.stories-container {
    width: 90vw;
    display: flex;
    justify-content: center;
    overflow-x: auto;
    padding: 10px 0;
    gap: 1.4rem;
    margin: auto;
}

.story {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
}

.story p {
    margin: 0.6rem 0rem;
    font-size: 0.70rem;
    text-align: center;
}

.gradient-border {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at 30% 107%,
            #fdf497 0%,
            #fdf497 5%,
            #fd5949 45%,
            #d6249f 60%,
            #285aeb 90%);
    padding: 2px;
}

.gradient-border img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid var(--black);
}

.post {
    padding: 5px;
}

footer {
    background-color: black;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 60px;
    color: white;
  }

/* para los iconos -- https://fonts.google.com/icons?hl=es-419&selected=Material+Symbols+Outlined:mark_unread_chat_alt:FILL@0;wght@400;GRAD@0;opsz@24 */
header .material-symbols-outlined {
    float: right;
}

footer .material-symbols-outlined {
    font-size: 1.8em !important;
    padding: 10px 20px;
}

/* Iconos con material-symbols */
.material-symbols-outlined {
    font-size: 1.4em !important;
    cursor: pointer;
}

.material-symbols-outlined a {
    text-decoration: none;
}
  
.material-symbols-outlined a:hover {
    color: #007bff;
}

.active {
    color: #ff5733; 
}

.capturar-foto label{
    float:left;
    font-weight: bold;
}
.capturar-foto input{
    float:left;
    width:335px;
    height: 30px;
    margin-bottom: 5px;
}

::placeholder {
    font-size: 18px; /* Tamaño de fuente del placeholder */
    color: #888; /* Color del placeholder */
}

/* Estilo para un mensaje de éxito */
.message-ok {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}
  
/* Estilo para un mensaje de error */
.message-error {
    background-color: #fc8b72;
    color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}
  

/* Botones para cámara y publicar post */
.btnCamara {
    display: inline-block;
    padding: 6px 10px;
    font-size: 1em;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btnPublicar {
    display: inline-block;
    padding: 6px 10px;
    font-size: 1em;
    background-color: #f3835b;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
  
.btnCamara:hover {
    background-color: #0056b3;
}
  
.btnCamara:focus {
    outline: none;
}
  
.capturar-foto {
    padding-top: 20px;
    text-align: center;
    margin-bottom: 70px;
}
